#main-interface {
	
}

#class-list {
	width: 50%;
	height: 50%;
}

.selected {
	border-style: solid;
	border-width: 1px;
}

#class-list svg:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
